{{ partial "head" . }}
<body class="post-template">

    {{ partial "header" . }}
    {{ partial "navigation" . }}

    <main class="content" role="main">
	    <article class="post">
	        <header>
	        <h1 class="post-title">{{ .Title }}</h1>
	        <div class="post-meta"><time datetime="{{ .Date.Format "02 January 2006" }}">{{ .Date.Format "02 January 2006" }}</time></div>
	        </header>

	        <section class="post-content">
	            {{ .Content }}
	        </section>

	        <section class="post-tags" style="padding-bottom:60px;">
	            <div class="post-meta tags">
	            <i class="fa fa-fw fa-tag"></i>
	            {{ range .Params.tags }}
	            <a href="{{ $.Site.BaseURL }}tags/{{ . }}">{{ . }} </a>
	            {{ end }}
	            </div>
	        </section>
			
			{{ if eq .Site.Params.comments "disqus" }}
	        	{{ template "_internal/disqus.html" . }}
	        {{ end }}
			
			{{ if eq .Site.Params.comments "googleplus" }}
				{{ partial "googleplus-comments" . }}
			{{ end }}

	        <section class="share">
	            <p class="backtotop"><a data-scroll href="#site-head"><i class="fa fa-lg fa-fw fa-angle-double-up"></i></a><a data-scroll class="backtotoptext" href="#site-head"> {{ .Site.Params.backtotopStr }}</a></p>
	            <p class="info prompt">{{ .Site.Params.shareStr }}</p>
	            <a href="http://twitter.com/share?text={{ .Title }}&url={{ .Permalink }}" title="Share on Twitter"
	                onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
	                <i class="fa fa-2x fa-fw fa-twitter-square"></i> <span class="hidden">Twitter</span>
	            </a>
              <a class="fa fa-2x"
                 href="https://www.douban.com/share/service?href={{ .Permalink }}&url={{ .Permalink }}&title={{ .Title }}&name={{ .Title }}"
                 onclick="window.open(this.href, 'douban-share', 'width=550,height=235')">
                <span style="width: 26px; height: 26px;" class="fa share-icon share-icon-douban">
                  <svg style="width: 26px; height: 26px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="1 1 30 30" title="Douban" alt="Douban"><g><path d="M5.75 5.51H26.3V8.1H5.75zM20.74 23.98l1.93-4.29h2.21V9.72h-18v9.98h2.04l1.93 4.29H5.07v2.51h21.85v-2.51l-6.18-.01zM10 17.03v-4.88h11.68v4.88H10zm7.99 6.95h-4.37l-1.93-4.29h8.24l-1.94 4.29z"></path></g></svg></span>
              </a>
	            <a href="http://service.weibo.com/share/share.php?title={{ .Title }}&url={{ .Permalink }}" title="分享到新浪微博"
	                onclick="window.open(this.href, 'weibo-share', 'width=550,height=235');return false;">
	                <i class="fa fa-2x fa-fw fa-weibo"></i> <span
                    class="hidden">新浪微博</span>
	            </a>
	        </section>

	        <footer class="post-footer">
	            {{ partial "author" . }}
	        </footer>
	    </article>
	</main>

    {{ partial "footer" . }}
    {{ partial "js" . }}

</body>
</html>
